<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bolex.autoEx">

    <uses-permission android:name="android.permission.INTERNET" />
    <application  android:supportsRtl="true">
        <service android:process=":AutoEx"  android:name="com.bolex.autoEx.DoHandleService" />

    </application>

</manifest>
